<div class="d-flex flex-row bd-highlight mb-3">
  <div class="p-2 bd-highlight col-5">
    <div class="card">
      <div class="card-header">
        <h3 style="color: #1e293b;">Student Entry Form</h3>
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="p-2 bd-highlight col-7">
    <div class="card">
      <div class="card-header">
        <h3 style="color: #1e293b;">Student Details</h3>
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <pre>
          students = {{students | json}}
        </pre>
      </div>
    </div>
  </div>
</div>
