<div class="d-flex flex-row bd-highlight mb-3">
  <div class="p-2 bd-highlight col-5">
    <div class="card">
      <div class="card-header">
        <h3 style="color: #1e293b;">Student Entry Form</h3>
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="p-2 bd-highlight col-7">
    <div class="card">
      <div class="card-header">
        <h3 style="color: #1e293b;">Student Details</h3>
      </div>
      <div class="card-body">

        <div class="example-header">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
          </mat-form-field>
        </div>

        <div class="example-container mat-elevation-z8">

          <mat-table [dataSource]="dataSource" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="studentId">
              <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.studentId}} </mat-cell>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="episodeId">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Progress </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.episodeId}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="studentName">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.studentName}} </mat-cell>
            </ng-container>

            <!-- Color Column -->
            <ng-container matColumnDef="district">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Color </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.district}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
          </mat-table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>

      </div>
    </div>
  </div>
</div>
