<!--<div id="carouselExampleSlidesOnly" class=" slide" data-bs-ride="carousel">-->
<!--  <div class="carousel-inner">-->
<!--    <div class="carousel-item active">-->
<!--      <img src="assets/pic_1.jpg"  width="650px">-->
<!--    </div>-->
<!--    <div class="carousel-item">-->
<!--      <img src="assets/pic_2.jpg"  width="650px">-->
<!--    </div>-->
<!--    <div class="carousel-item">-->
<!--      <img src="assets/pic_3.jpg"  width="650px">-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<div id="carousel">
  <carousel>
    <div class="carousel-cell">
      <img src="assets/pic_1.jpg">
    </div>
    <div class="carousel-cell">
      <img src="assets/pic_2.jpg">
    </div>
    <div class="carousel-cell">
      <img src="assets/pic_3.jpg">
    </div>
  </carousel>
</div>
