<mat-nav-list>
  <div class="logo py-4">
    <img src="assets/eduvenv_round.svg" alt="Company Logo" class="eduvenv"/>
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">D E V E L O P E R</h2>
  <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
    <mat-icon>home</mat-icon> Home
  </a>
  <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>

  <a mat-list-item (click)="toggleMaster()">
    <mat-icon>spa</mat-icon> Master
    <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
  </a>
  <div *ngIf="displayMaster">
    <a mat-list-item routerLink="/login" routerLinkActive="list-item-active">
      <mat-icon>child_care</mat-icon> Login
    </a>
    <a mat-list-item>
      <mat-icon>child_care</mat-icon> Child 2
    </a>
  </div>

  <a mat-list-item (click)="toggleChart()">
    <mat-icon>spa</mat-icon> Charts
    <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
  </a>
  <div *ngIf="displayChart">
    <a mat-list-item [routerLink]="['/LineChart']" routerLinkActive="list-item-active">
      <i class="bi bi-person-check-fill"></i> &nbsp; Line Chart
    </a>
    <a mat-list-item [routerLink]="['/BarChart']" routerLinkActive="list-item-active">
      <i class="bi bi-person-check-fill"></i> &nbsp; Bar Chart
    </a>
  </div>

  <a mat-list-item>
    <mat-icon>edit</mat-icon> Link 4
  </a>
  <a mat-list-item>
    <mat-icon>edit</mat-icon> Link 5
  </a>
  <a mat-list-item>
    <mat-icon>edit</mat-icon> Link 6
  </a>
</mat-nav-list>


