<div style="text-align:center">
  <div>

    <div id="camera-capture" class="p-2 bd-highlight" style="border: 1px solid black; border-radius: 25px;">
            <webcam [height]="300" [width]="300"
                    [trigger]="triggerObservable"
                    (imageCapture)="handleImage($event)" *ngIf="showWebcam"
                    [allowCameraSwitch]="allowCameraSwitch"
                    [switchCamera]="nextWebcamObservable"
                    [videoOptions]="videoOptions"
                    (cameraSwitched)="cameraWasSwitched($event)"
                    (initError)="handleInitError($event)">
            </webcam>
            <h5>Webcam</h5>
            <div class="d-flex flex-row bd-highlight mb-3" style="align-self: center;">
              <div class="p-2 bd-highlight col-6">
                <button type="button" pButton (click)="triggerSnapshot();" pTooltip="Take the Picture">
                  <i class="bi bi-camera-fill"></i>&nbsp;Take
                </button>
              </div>
              <div class="p-2 bd-highlight col-6">
                <button type="button" pButton  (click)="showNextWebcam(true);" >
                  <i class="bi bi-arrow-clockwise"></i>
                </button>
              </div>
            </div>
    </div>
  </div>
</div>

<h4 *ngIf="errors.length > 0">Messages:</h4>
<ul >
  <li *ngFor="let error of errors">{{error.message | json}}</li>
</ul>
