<p>
  <a class="btn btn" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    <i class="bi bi-arrows-expand"></i>Introduction to Asynchronous sequential circuit
  </a>
<!--  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">-->
<!--    Button with data-bs-target-->
<!--  </button>-->
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body" style="font-size: 18px;  line-height: 1.6;">
    <ul>
      <li>Asynchronous sequential circuit works without Clock.</li>
      <li>Asynchronous sequential circuit works based on memory concept</li>
      <li>Feedback is present as delay line, and Delay of feedback is not predictable so application of asynchronous sequential circuit is limited.</li>
      <li>Changes in inputs cause changes in output (State changes)</li>
      <li>Asynchronous sequential circuit design is more complicated than synchronous sequential circuit design</li>
      <li>The memory of the asynchronous sequential circuit may include flip-flops or time-delay devices.</li>
    </ul>
  </div>
</div>
<!--Block Diagram-->

<p>
  <a class="btn btn" data-bs-toggle="collapse" href="#collapseBlockDiagram" role="button" aria-expanded="false" aria-controls="collapseBlockDiagram">
    <i class="bi bi-arrows-expand"></i>Block Diagram
  </a>
</p>
<div class="collapse" id="collapseBlockDiagram">
  <div class="card card-body" style="font-size: 18px;  line-height: 1.6;">
    <p-image src="assets/tutorial/flipflop/Asynchronous-Block-Diagram.svg" alt="Image" width="250" [preview]="true"></p-image>
<!--    <img src="assets/tutorial/flipflop/Asynchronous-Block-Diagram.svg">-->
  </div>
</div>
<hr>

